.contact-list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) {
        display: none;
    }

}

.contact-list__item {
    display: inline-flex;
    align-items: center;
    color: $primary-site-color;

}

.contact-list__item:not(:last-child)::after {
    @media screen and (max-width:767px) {
        content: " ";

        display: inline-flex;
        width: 2px;
        height: 22px;

        border: 1px solid rgba(33, 33, 33, 0.2);

        margin-left: 10px;
        margin-right: 10px;
    }
}

.contact-list__link {
    @extend %link;

    color: $primary-site-color;
}