.contact-nav {
    @extend %list;

    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 64px;

    @media screen and (min-width:$tablet) {
        display: block;
        margin: auto;

        padding-top: 21px;
        padding-bottom: 21px;
        margin-bottom: 0;
        height: 80px;

    }

    @media screen and (min-width: $desktop) {
        padding: 0;
    }




}

.contact-nav__item {

    @media screen and (min-width:768px) {
        display: inline-flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &:last-child {
        @media screen and (max-width:767px) {
            margin-bottom: 32px;
        }
    }

    &:not(:last-child) {

        @media screen and (min-width:$desktop) {
            margin-right: 50px;
        }
    }


}

.contact-nav__link {
    @extend %link;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;



    color: $secondary-text-color;

    &.contact-nav__link--tel {
        @media screen and (max-width:767px) {
            color: $primary-site-color;
        }
    }

    &:hover,
    &:focus {
        color: $primary-site-color;
    }

    @media screen and (min-width:$tablet) {
        display: inline-flex;
        align-items: center;

        font-size: 12px;
        line-height: 1.17;
    }

    @media screen and (min-width:$desktop) {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        padding-top: 32px;
        padding-bottom: 32px;
    }

}

.contact-nav__icon {

    @media screen and (max-width:767px) {
        display: none;
    }

    fill: currentColor;
    margin-right: 10px;
}

.contact-nav__icon--envelope {

    @media screen and (min-width:$tablet) {
        width: 14px;
        height: 10px;
    }

    @media screen and (min-width:$desktop) {
        width: 16px;
        height: 12px;
    }

}

.contact-nav__icon--smartphone {

    @media screen and (min-width:$tablet) {
        width: 10px;
        height: 14px;
    }

    @media screen and (min-width:$desktop) {
        width: 12px;
        height: 16px;
    }

}