.form-callback {
    padding: 40px 40px;
    justify-content: center;
}

.form-callback__title {

    margin: 0;
    margin-bottom: 12px;

    color: $primary-text-color;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.form-callback__field {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.form-callback__label {
    padding-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $secondary-text-color;
}

.form-callback__input {
    padding: 12px 42px;

    border: 0;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus-visible {
        outline: 1px solid $primary-site-color;
    }
}

.form-callback__comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;

    border: 0;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus-visible {
        outline: 1px solid $primary-site-color;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}

.form-callback__icon {
    position: absolute;

    left: 12px;
    bottom: 11px;
}

.form-callback__input:focus-visible+.form-callback__icon {
    fill: $primary-site-color;
}

.form-callback__checkbox-field {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-callback__checkbox-label {
    position: relative;
    padding-left: 24px;

    @media screen and (min-width: 1200px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    }

    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
}

.form-callback__checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-callback__icon-check {
    position: absolute;

    top: 50%;
    transform: translateY(-50%) translateX(-25px);

}

.form-callback__icon-check--tick {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
}

.form-callback__checkbox-input:checked~.form-callback__icon-check.form-callback__icon-check--tick {
    opacity: 1;
}

.form-callback__checkbox-link {
    color: $primary-site-color;
}


.form-callback__button {
    @extend %button;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: $primary-site-color-hover;
    }
}