.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;

    @extend %link;

    color: $logo-secondary-color;

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.19;
    }

    @media screen and (min-width: $tablet) {
        margin-right: 88px;

    }
}

.logo--footer {
    display: inline-block;

    margin-bottom: 20px;

    color: $primary-white-color;
}

.logo__web {
    color: $primary-site-color;
}