.benefits {
    @extend %section;
}

.benefits__container {
    @extend %container;
}

.benefits__section-title {
    @extend %section-title;
}

.benefits__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width:$tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
}

.benefits__item {

    @media screen and (min-width: $desktop) {

        max-width: 270px;

        &:not(:nth-child(4n)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n + 4)) {
            margin-bottom: 10px;
        }
    }
}

.benefits__box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: $secondary-bg-color;
    border-radius: 4px;
}

.benefits__title {
    margin: 0;
    margin-bottom: 10px;

    color: $primary-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    text-align: center;
}

.benefits__text {
    margin-top: 0;
    margin-bottom: 0;

    color: $secondary-text-color;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}