.team {
    @extend %section;

    background-color: $secondary-bg-color;
    text-align: center;
}

.team__container {
    @extend %container;
}

.team__section-title {
    @extend %section-title;
}

.team__list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 270px;
    text-align: center;

    &:not(:nth-child(4n)) {
        margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 4)) {
        margin-bottom: 30px;
    }
}

.team__img {
    @extend %img;
}

.team__content {
    background-color: $logo-primary-color;
    padding: 30px 0;
}

.team__title {
    margin: 0;
    margin-bottom: 10px;

    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team__profession {
    margin: 0;
    margin-bottom: 16px;

    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.19;

}