$primary-white-color: #ffffff;
$primary-site-color: #2196F3;
$primary-site-color-hover: #188CE8;

$logo-primary-color: #ffffff;
$logo-secondary-color: #000000;

$primary-text-color: #212121;
$secondary-text-color: #757575;

$primary-bg-color: #2F303A;
$secondary-bg-color: #f5f4fA;

$primary-icon-color: #AFB1B8;